.statistics {
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
}
.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 20px;
}
.stat__list {
  display: flex;
  justify-content: space-between;
  margin: -5px;
}
.item {
  flex-basis: calc((100% - 20px) / 3);
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
  margin-top: 5px;
}
.percentage {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
}
